/*================================================================
  ____                                
 |  _ \ ___  __ _ _ __    ___ ___ ___ 
 | |_) / _ \/ _` | '__|  / __/ __/ __|
 |  __/  __/ (_| | |    | (__\__ \__ \
 |_|   \___|\__,_|_|     \___|___/___/

================================================================
Created By: CodeLab - www.codelab.io
Version: v1.1
================================================================*/

h1, h2, h3, h4, h5, h6, p{
	font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
	color: rgb(88,89,91);
}


.fullscreen{
	height: 100vh;
	width: 100vw;
	max-width:100%;
	position: relative
	/*padding-top: 10%;*/
}
#splash-logo{
	width: 50vw;
	height: 20vw;
	display: none;
	margin-left: 20%;
	position: absolute;               /* 2 */
	top: 40%;                         /* 3 */
	transform: translate(0, -50%);   /* 4 */
	background-image: url(../images/pear-logo.png);
    background-size:     contain;                      /* <------ */
    background-repeat:   no-repeat;
    background-position: center center; 
}
.unselectable{
	user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
}

#searchbox {
    border-radius: 25px;
    border: 1px solid #88B991;
    padding: 20px;
    width: 200px;
    height: 150px;
}

.right-inner-addon input {
    padding-right: 30px;  
}
.right-inner-addon i {
    position: absolute;
    right: 0px;
    padding: 10px 12px;
    pointer-events: none;
}

.right-inner-addon {
    position: relative;
    height:80px;
}

.left-inner-addon {
    position: relative;
    height:80px;
}